body, html {
    margin: 0;
    padding: 0;
    color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    text-align: center;
    margin: auto;
  }
  
  /* Toggle Switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align: middle;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .toggle-container {
    display: inline-block;
    margin: 20px;
  }
  
  /* Dark Mode Styles */
  .dark-mode {
    background-color: #000;
    color: #fff;
  }
  
  .dark-mode h1, .dark-mode h2 {
    color: #fff;
  }
  
  